version: '3'
services:
  nginx:
      restart: always
      build:
         dockerfile: Dockerfile.dev
         context: ./nginx
      ports:
        - '3050:80'   
  postgres:
      image: 'postgres:latest'
  redis:
      image: 'redis:latest'
  api:
      depends_on:
        - postgres
      build:
         dockerfile: Dockerfile.dev
         context: ./server #look in current directory find server and use all files
      volumes: 
         - /app/node_modules
         - ./server:/app #everything in server copied in app folder in the container
      environment:
        - REDIS_HOST= redis
        - REDIS_PORT= 6379
        - PGUSER=postgres
        - PGHOST=postgres
        - PGDATABASE=postgres
        - PGPASSWORD=postgres_password
        - PGPORT=5432
  client:  
      build:
         dockerfile: Dockerfile.dev
         context: ./client
      volumes:
        - /app/node_modules
        - ./client:/app
  worker:
      environment:
        - REDIS_HOST=redis
        - REDIS_PORT=6379
      build:
         dockerfile: Dockerfile.dev
         context: ./worker
      volumes:
        - /app/node_modules
        - ./worker:/app  
           




  